tmp_convert/flows/Citi_Change_Credit_Limit.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Citi_Account</name>
        <label>Get Citi Financial Account Detail. Input: Account No</label>
        <locationX>153</locationX>
        <locationY>346</locationY>
        <actionName>CitiAccountController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Init_SR</targetReference>
        </connector>
        <inputParameters>
            <name>accountNo</name>
            <value>
                <elementReference>AccountNo</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <assignments>
        <name>Init_SR</name>
        <label>Init SR</label>
        <locationX>50</locationX>
        <locationY>608</locationY>
        <assignmentItems>
            <assignToReference>servicerequest.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Citi_Account.CitiAccount.recordID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>servicerequest.Service_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Change Credit Limit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Service_Request</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Authentication_True</name>
        <label>if Authentication Status?</label>
        <locationX>627</locationX>
        <locationY>180</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AuthenticationStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Citi_Account</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <interviewLabel>Citi SR Flow Template {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Citi Change Credit Limit</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Service_Request</name>
        <label>Create Service Request</label>
        <locationX>186</locationX>
        <locationY>608</locationY>
        <connector>
            <targetReference>SR</targetReference>
        </connector>
        <inputReference>servicerequest</inputReference>
    </recordCreates>
    <recordLookups>
        <name>SR</name>
        <label>SR</label>
        <locationX>309</locationX>
        <locationY>608</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SR_Page</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>servicerequest.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_SR</name>
        <label>Update SR</label>
        <locationX>926</locationX>
        <locationY>360</locationY>
        <connector>
            <targetReference>Ack_Page</targetReference>
        </connector>
        <inputReference>SR</inputReference>
    </recordUpdates>
    <screens>
        <name>Ack_Page</name>
        <label>Ack Page</label>
        <locationX>1122</locationX>
        <locationY>360</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ack_msg</name>
            <extensionName>c:citiAck</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>h1</name>
                <value>
                    <stringValue>Your Document is submitted</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>h2</name>
                <value>
                    <stringValue>We typically response within 24 hours and sent you an Email and SMS to let you know.</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ack_home</name>
            <extensionName>c:citiButtonHome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonlabel</name>
                <value>
                    <stringValue>Go to Home</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SR_Page</name>
        <label>SR Page</label>
        <locationX>544</locationX>
        <locationY>608</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_SR</targetReference>
        </connector>
        <fields>
            <name>screen_citiHeader</name>
            <extensionName>c:citiHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>h1</name>
                <value>
                    <stringValue>Update your income</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>creditbalance</name>
            <extensionName>c:citiCreditBalance</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>availableCreditToSpend</name>
                <value>
                    <elementReference>Get_Citi_Account.CitiAccount.availableCreditLimit</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>eligibleCreditLimit</name>
                <value>
                    <elementReference>Get_Citi_Account.CitiAccount.eligableLimit</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>totalCreditLimit</name>
                <value>
                    <elementReference>Get_Citi_Account.CitiAccount.totalCreditLimit</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>employer</name>
            <extensionName>c:citiFieldEdit</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Employer</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SR.Employer__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>lblUpload</name>
            <extensionName>c:citiDisplayText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>text</name>
                <value>
                    <stringValue>Lorem explain address proof.</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>addressproofupload</name>
            <extensionName>c:citiFileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>description</name>
                <value>
                    <stringValue>Upload income proof</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>relatedrecordid</name>
                <value>
                    <elementReference>SR.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>cancel</name>
            <extensionName>c:citiButtonCancel</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonlabel</name>
                <value>
                    <stringValue>Cancel</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>acc_next</name>
            <extensionName>c:citiButtonNext</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonlabel</name>
                <value>
                    <stringValue>Submit</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>78</locationX>
        <locationY>74</locationY>
        <connector>
            <targetReference>Citi_Authentication</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Citi_Authentication</name>
        <label>Citi Authentication</label>
        <locationX>309</locationX>
        <locationY>74</locationY>
        <connector>
            <targetReference>Authentication_True</targetReference>
        </connector>
        <flowName>citiAuthenticationFlow</flowName>
        <outputAssignments>
            <assignToReference>AccountNo</assignToReference>
            <name>accountNo</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AuthenticationStatus</assignToReference>
            <name>authenticationStatus</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AccountNo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>1234567890123456</stringValue>
        </value>
    </variables>
    <variables>
        <name>addresschanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AuthenticationStatus</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>servicerequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Service_Request__c</objectType>
    </variables>
</Flow>
